<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_palayan_round"
        android:label="PalaYan"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_palayan_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PalaYan"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UserActivities.FarmerJournal"
            android:exported="false" />
        <activity
            android:name=".UserActivities.AddFarmerJournal"
            android:exported="false" />
        <activity
            android:name=".UserActivities.FarmerRegistration"
            android:exported="false" />
        <activity
            android:name=".UserActivities.DiseaseScanner"
            android:exported="false" />
        <activity
            android:name=".UserActivities.TreatmentAppliedDetails"
            android:exported="false" />
        <activity
            android:name=".UserActivities.SaveOnlyDetails"
            android:exported="false" />
        <activity
            android:name=".UserActivities.DiseaseDetails"
            android:exported="false" />
        <activity
            android:name=".UserActivities.ViewResultDisease"
            android:exported="false" />
        <activity
            android:name=".UserActivities.TreatmentNotes"
            android:exported="false" />
        <activity
            android:name=".UserActivities.TextBased"
            android:exported="false" />
        <activity
            android:name=".UserActivities.PredictResult"
            android:exported="false" />
        <activity
            android:name=".AdminActivities.ViewDisease"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.AddRiceDisease"
            android:exported="false" />
        <activity
            android:name=".UserActivities.CameraScanner"
            android:exported="false" />
        <activity
            android:name=".UserActivities.PestDetails"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.AccountDetails"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.ViewAccounts"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.AddAdminAccount"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".AdminActivities.AddPest"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.ViewPest"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".UserActivities.RiceVarietyInformation"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.AddRiceVariety"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.ViewRiceVarieties"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".AdminActivities.AdminDashboard"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".UserActivities.UserDashboard"
            android:exported="false"
            android:theme="@style/Theme.PalaYan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserActivities.TermsAndConditionsActivity"
            android:exported="false"
            android:theme="@style/Theme.PalaYan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>